.skills-marquee {
    display: flex;
    width: max-content;
    gap: 0.75rem;
    white-space: nowrap;
    animation: marquee 60s linear infinite;
}

.skills-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}